<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693846826420-v2lqkd9kbgqm7pf2c3mo2s8j41tslvqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693846826420-v2lqkd9kbgqm7pf2c3mo2s8j41tslvqq</string>
	<key>API_KEY</key>
	<string>AIzaSyAbVuMTyI0slEJUeJrt1jCV9pThbu_EXLE</string>
	<key>GCM_SENDER_ID</key>
	<string>693846826420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>et.toptech.attendance</string>
	<key>PROJECT_ID</key>
	<string>toptechplc</string>
	<key>STORAGE_BUCKET</key>
	<string>toptechplc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693846826420:ios:0da866764c5951eec7a6e1</string>
</dict>
</plist>